# Ignore Python virtual environments and caches
.venv/
__pycache__/

# Ignore logs and database files
*.log
*.sqlite3
*.db

# Ignore environment variables
.env

# Ignore dependencies
node_modules/

# Ignore MkDocs build artifacts
mkdocs/site/
